 body {
  background-color: rgba(0, 0, 0, 0.882);
  color: white;
  overflow-x: hidden;
  font-family: 'Special Elite', cursive;
  width: 100vw;
}

html {
  width: 100vw;
}



.header-section {
  margin: 100px auto 0;
}

svg {
  overflow: visible;
  margin-top: 0vh;
  margin-left: 30vw;
  width: 70vw;
  height: 200vh;
}

.ball {
  fill: cyan;
  visibility: hidden;
  transform: scale(1.0);
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 5px;
  visibility: hidden;
}

.theLine {
  transform: scale(2.5);
}

.title {
  margin-top: 50vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 40vh;
}

.codeTag {
  font-family: 'Source Code Pro', monospace;
}

.lifeline {
  margin-top: 50vh;
}

#svgTitleTop {
  margin-left: 5vw;
}
#svgTitleBottom {
  margin-left: 5vw;
  margin-top: -70vh;
}

@media screen and (max-width: 1000px){
  svg {
    margin-left: 60vw;
    margin-top: -40vh;
    transform: scale(3);
  }
  .lifeline {
    margin-top: 10vh;
  }
  .title {
    font-size: 50px;
    text-align: center;
    width: 160vw;
  }

  body {
    width: 150vw;
  }

  html {
    width: 160vw;
  }

  #svgTitleTop {
    margin-top: 100vh;
    margin-bottom: 10vh;
  }
  #svgTitleBottom {
    margin-left: 5vw;
    margin-top: -80vh;
  }
}




