
 
 body {
  background-color: rgba(0, 0, 0, 0.882);
  color: white;
  font-family: 'Special Elite', cursive;
  width: 100vw;
  overflow-x: hidden;
}

html {
  width: 100vw;
}



.header-section {
  margin: 100px auto 0;
}

svg {
  margin-left: 30vw;
  height: 200vh;
  margin-top: 150vh;
  overflow: visible;
}
/* FOR SAFARI ONLY */
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
       svg {
        margin-top: 0;
       }
       #svgTitleBottom {
        margin-top: 210vh;
      }
  }
}

.ball {
  fill: cyan;
  visibility: hidden;
  transform: scale(1.0);
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 5px;
  visibility: hidden;
}

.theLine {
  transform: scale(2.5);
}

.title {
  margin-top: 50vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 40vh;
}

.codeTag {
  font-family: 'Source Code Pro', monospace;
}

.lifeline {
  margin-top: 50vh;
}

#svgTitleTop {
  margin-left: 5vw;
}
#svgTitleBottom {
  margin-left: 5vw;
  margin-top: -210vh;
}

.quickButtons {
  margin-top: -25vh;
  margin-left: 27vw;
  position: absolute;
}
.button {
  width: 10vw;
  height: 10vw;
  margin-right: 2vw;
  border-radius: 5vw;
  border: none;
  background: cyan;
  font-family: 'Special Elite', cursive;
  font-size: large;
  cursor: pointer;
}








 
.desktop {
  display: block;
  visibility: visible; 
}
.mobile {
  display: none;
  visibility: none;
}

@media screen and (max-width: 1000px){
  .desktop {
    display: none;
    visibility: none;
  }
  .mobile {
    display: block;
    visibility: none;
  }

  body {
    font-size: 2em;
  }

  .title {
    margin-top: 50vh;
  }

  svg {
    transform: scale(2.3);
    margin-top: 133vh;
    margin-left: 25vw;
  }

  .ball {
    visibility: visible;
  }

  text {
    visibility: visible;
    font-size: 10px;
  }
  #svgTitleTop {
    margin-left: 2vw;
  }
  #svgTitleBottom {
    margin-left: 2vw;
    margin-top: -240vh;
  }
}




